<% if adviser_signed_in? %>
  <% if message.user_id.present? %>
    <div class="message-left">
      <%= render partial: 'layouts/chat/user-image', locals: { user: message.user } %>
      <span class="partner-message bg-green text-black">
        <%= message.body %>
      </span>
    </div>
  <% elsif message.adviser_id.present? %>
    <div class="message-right">
      <span class="my-message bg-green text-black">
        <%= message.body %>
      </span>
    </div>
  <% end %>
<% end %>