<div class="chatroom-container py-5">
  <ul class="list-group">
    <% @adviser.chat_to_users.each do |user| %>
      <% @chat_room = ChatRoom.find_by(user_id: user.id, adviser_id: current_adviser.id) %>
      <%= link_to adviser_chat_room_messages_path(current_adviser.id, @chat_room.id), class: "list-group-item list-group-item-action list-selected" do %>
        <%= render partial: 'layouts/chat/user-image', locals: { user: user } %>
        <span class="user-name ms-3">
          <%= user.name %>
        </span>
      <% end %>
    <% end %>
  </ul>
</div>