<% @category.contents.each do |content| %>
  <div class="col">
    <article class="card h-100">
      <%= link_to content_path(content) do %>
        <%= image_tag content.image_url, class: "card-img-top", alt: "コンテンツ画像" %>
        <div class="card-body">
          <h5 class="card-title"><%= content.title %></h5>
        </div>
      <% end %>
    </article>
  </div>
<% end %>
