<%= render 'brand-image' %>
<div class="container mb-5">
  <div class="paragraph text-center pb-3">
    <p class="text-orange fs-3 fw-light spacing my-0">コンテンツ</p>
    <span class="text-black fw-light spacing">CONTENTS</span>
  </div>
  <%= render 'category-contents' %>
</div>
