<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'スライド1.jpg', class: 'd-block w-100', alt: '健康的な女性のイメージ画像' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'スライド2.jpg', class: 'd-block w-100', alt: '健康的な朝ごはんのイメージ画像' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'スライド3.jpg', class: 'd-block w-100', alt: 'カウンセリングのイメージ画像' %>
    </div>
  </div>
  <div class="position-absolute top-50 left-0 translate-middle-y text-white" >
    <div class="catch-copy fs-2 fst-italic">
      <p class="mb-2 px-3 bg-green spacing">ライフスタイルの変化で</p>
      <p class="px-3 bg-green spacing">健やかな毎日を過ごすために</p>
    </div>
  </div>
</div>