.link.text-black:hover {
  color: #7ed957;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.btn-green {
  background-color: #7ed957;
}

.btn-orange {
  background-color: #FFA500;
}

.btn-blue {
  background-color: #0000CD;
}

.btn-invisible {
  display: none;
}

.btn-invisible:checked + label .btn-icon {
  background-color: #7ed957;
}

.btn-invisible:checked + label .btn-img {
  border: #7ed957 5px solid;
}