.message-left {
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.partner-message {
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  max-width: 400px;
}

.partner-message::before{
  content: '';
  position: absolute;
  left: 55px;
  top: 8px;
  border-right: 15px solid #7ed957;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.message-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.my-message {
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
}