.user-table {
  width: 60%;
  margin-bottom: 20px;
}

.user-table th, .user-table td {
  padding: 10px;
  border: 1px solid #000000;
}

.user-table th {
  background-color: #E9E9E9;
}

@media screen and (max-width: 768px) {
  .user-table {
    width: 100%;
  }
  
  .user-table th {
    display: block;
    border-bottom: none;
  }
  
  .user-table td {
    display: block;
    border-bottom: none;
  }
}