<% if user_signed_in? %>
  <% if message.adviser_id.present? %>
    <div class="message-left">
      <%= render partial: 'layouts/chat/adviser-image', locals: { adviser: message.adviser } %>
      <span class="partner-message bg-green text-black">
        <%= message.body %>
      </span>
    </div>
  <% elsif message.user_id.present? %>
    <div class="message-right">
      <span class="my-message bg-green text-black">
        <%= message.body %>
      </span>
    </div>
  <% end %>
<% end %>