<% if instance.errors.full_messages.present? %>
  <h3><%= instance.errors.count %> error</h3>
  <ul>
    <% instance.errors.full_messages.each do |msg| %>
      <li class="list-unstyled"><%= msg %></li>
    <% end %>
  </ul>
<% end %>